################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Margin/obj/Debug
/src/Margin/.vs

